.jugador-card {
  max-width: 200px;
  margin: 10px;
}

.jugador-header-image {
  background-image: url('http://via.placeholder.com/50x50?text=thumb');
  background-size: cover;
}

.pull-right {
  text-align: right;
}
