<p>
  Equipo: {{ nombre | uppercase }}
  <br>
  <code>Aficionados: {{ aficionados | number : '3.1-2' }}</code>
  <br>
  <code>Porcentaje de efectivad: {{ efectividad | percent: '3.1-5' }}</code>
</p>
<mat-divider></mat-divider>
<p>Presupuesto: {{ presupuesto | currency }} </p>
<mat-divider></mat-divider>

<h2>Jugadores</h2>
<mat-grid-list cols="4" rowHeight="100">
  <mat-grid-tile colspan="1">
    <p>
      <code>Última actualización {{ actualizacion | date:'dd-MM-yyyy' }}</code>
    </p>
    <p>
      <code>Última hora {{ actualizacion | date:'mm:HH' }}</code>
    </p>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <mat-form-field class="search-input">
      <input matInput type="search" placeholder="Buscar jugador..." [(ngModel)]="busqueda" />
      <button mat-button matPrefix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </mat-grid-tile>

</mat-grid-list>

<mat-grid-list cols="4" rowHeight="400" style="padding:10px" *ngIf="jugadores.length > 0 else noData">
  <mat-grid-tile rowspan="4">
    <mat-accordion class="jugadores-headers-align">
      <mat-expansion-panel hideToggle="true" *ngFor="let j of jugadores | filtroPorLetra:busqueda; let i = index" [expanded]="step === i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ j.nombre }}
          </mat-panel-title>
          <mat-panel-description>
            {{ j.posicion }}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Edad: {{ j.edad }}</p>
        <p>Apodo: {{ j.apodo }}</p>

        <p *ngIf="j.estado" [ngStyle]="{ 'color': obtenerColor(j.estado) }">Estado: Activo</p>
        <p *ngIf="!j.estado" [ngStyle]="{ 'color': obtenerColor(j.estado) }">Estado: Inactivo</p>

        <button *ngIf="!j.estado" mat-raised-button color="primary" (click)="activarJugador(j)">Activar</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let j of jugadores | filtroPorLetra:busqueda ; let i = index">
    <app-jugador [ngClass]="{ 'jugadorInactivo': !j.estado, 'jugadorActivo': j.estado }" [jugador]="j" [equipo]="nombre" (onActivate)="actualizarEstado(j, i, $event)"
      (click)="mostrarDatos(i)"></app-jugador>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #noData>
  <div class="mat-elevation-z8 noData">

    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    <h2 *ngIf="isLoading">Cargando datos</h2>

    <h2 *ngIf="!isLoading">No hay registros disponibles</h2>
  </div>


</ng-template>
